<h1>{{tag.tag}}</h1>

<h2>Similar Tags</h2>
<div style="margin: 2px;">
    <div 
        ng-repeat="tag in tag.similar" 
        style="float: left; margin: 5px; padding: 5px; height:150px; width:150px; color:white; font-size:16pt; text-shadow: 0px 0px 6px #000000;border-radius: 5px;" 
        background="{{tag.recent.download.thumb}}">
      <a style="font-weight: bold;color:white;" ng-href="/tags/{{tag.tag}}" style="color:white;">
        {{tag.tag}}
      </a>
    </div>
</div>

<br clear="all"/>

<h2>Photos</h2>
<div style="margin: 2px;">
    <div 
        ng-repeat="photo in photos.photos" 
        style="float: left; margin: 5px; padding: 5px; height:150px; width:150px; color:white; font-size:16pt; text-shadow: 0px 0px 6px #000000;border-radius: 5px;" 
        background="{{photo.ref.download.thumb}}">
    </div>
</div>
